@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Mulish&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.dark {
    background-color: #353434;
}

.light {
    background-color: #fff;
}

.navbar {
    display: flex;
    /* border: 2px solid black; */
    height: 10vh;
    justify-content: space-between;
}

.navbar-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    width: 15vw;
}

.navbar-inner>img {
    width: 3vw;
}

.navbar-inner>h1 {
    font-size: 1.5em;
    cursor: pointer;
}

.navbar-right {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}

.navbar-right>img {
    cursor: pointer;
    width: 2vw;
}

/* navbar section ends */
/* middle section starts */

.middle {
    /* border: 2px solid black; */
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    /* border: 2px solid blue; */
    transition: all 1s;
}

.heading>input {
    width: 35vw !important;
    outline: none;
    border: none;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-size: 1.5em;
    border-radius: .1em;
    padding-left: 1em;
    transition: all 1s;
}

.content {
    /* border: 2px solid brown; */
    /* width: 35vw !important; */
    /* border: none; */
    transition: all 1s;
}

.content>input {
    display: none;
    border: none;
    outline: none;
    width: 35vw !important;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-size: 1.5em;
    border-radius: .1em;
    padding-left: 1em;
    height: 20vh;
    transition: all 1s;
}



.btn {

    display: flex;
    /* text-align: end; */
    justify-content: space-between;
    align-items: center;
    /* transition: all 1s; */
}

.btn_2>button {
    font-size: 1.1em;
    border-radius: .1em;
    margin: .5em;
    transition: all .3s;
    padding: .2em;
    /* border: thin solid #888; */
}

.btn_2>button:hover {
    color: white;
    background: #757373;
    border: none;
    border-radius: .3em 0 .3em .3em;
    outline: none;
    /* transform: scale(1.1);     */
}

.style_content {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    width: 20vw;
}

.style_img {
    width: 2vw;
    cursor: pointer;
}

#colors {
    width: 2vw;
    cursor: pointer;
    border-radius: 50%;
    height: 4vh;
    background-color: black;
    border: none;
    outline: none;
}

/* toast css */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* toast css over */
/* middle css over */
.lower {
    /* border: 2px solid black; */
    position: relative;
    height: max-content;
}

.lower_cards {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: inherit;
    position: absolute;
    inset: 1em;
}

.card_one {
    border: thin solid #e0e0e0;
    height: 28vh;
    margin: 2em auto;
    width: 22vw;
    border-radius: .5em;
}

.card_one:hover {
    /* box-shadow: 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07); */
    box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.card_one>div {
    display: flex;
    justify-content: space-between;
}

.card_one>div>h1 {
    font-size: 1.4em;
    margin-left: .7em;
}

.card_one>div>img {
    width: 2vw;
    cursor: pointer;

    /* border: 2px solid black; */

}

.card_one>p {
    padding: 1em;
}